/* Header Section Styles */
.main-header {
    height: 90vh;
    min-height: 600px;
    background-image: url('../assets/home-1.jpeg');
    background-size: cover;
}

.blog-header {
    height: 55vh;
    min-height: 400px;
    background-image: url('../assets/blog-1.jpeg');
    background-size: 1680px auto;
}

.main-header,
.blog-header {
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-header__nav {
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
}

.main-header__nav ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 44%;
    min-width: 600px;
    height: 100%;
}

.main-header__nav .fa-bars {
    display: none;
    font-size: 2.8rem;
}

.main-header__nav a {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: calc(12px + 0.25vw);
    line-height: 3.6rem;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
}

.fa-shopping-bag:after {
    display: inline-block;
    width: calc(10px + 0.5vw);
    height: calc(10px + 0.5vw);
    content: '2';
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: calc(5px + 0.3vw);
    color: #F6F6F6;
    line-height: 1.7;
    background-color: #64A604;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(6px) translateX(-4px);
    -webkit-transform: translateY(6px) translateX(-4px);
    -moz-transform: translateY(6px) translateX(-4px);
    -ms-transform: translateY(6px) translateX(-4px);
    -o-transform: translateY(6px) translateX(-4px);
}