/* Global Media Queries */
@media (min-width: 1681px) {
    .main-heading {
        font-size: 4.02rem;
    }
    
    .secondary-heading {
        font-size: 2.6rem;
    }

    .secondary-heading--blog {
        font-size: 1.3rem;
    }
}

/* Header Media Queries */
@media (min-width: 2000px) {
    .main-header {
        height: 70vh;
    }
}

@media (min-width: 2700px) {
    .main-header {
        height: 40vh;
    }
}

@media (min-width: 4600px) {
    .main-header {
        height: 20vh;
    }
}

@media (min-width: 1681px) and (max-width: 2150px) {
        .blog-header,
        .contact-header,
        .contact__pre-footer {
            background-size: 2200px auto;
    }
}

@media (min-width: 2151px) and (max-width: 2520px) {
    .blog-header,
    .contact-header,
    .contact__pre-footer {
        background-size: 2550px auto;
    }
}

@media (min-width: 2521px) and (max-width: 3360px) {
    .blog-header,
    .contact-header,
    .contact__pre-footer {
        background-size: 3400px auto;
    }
}

@media (min-width: 3361px) {
    .blog-header,
    .contact-header,
    .contact__pre-footer {
        background-size: 5800px auto;
    }
}

@media (min-width: 1681px) {
    .main-header__nav a {
        font-size: 1.524rem;
    }

    .fa-shopping-bag:after {
        font-size: 1rem;
        width: 1.8rem;
        height: 1.8rem;
    }

}

@media (max-width: 1680px) {
    .main-header__nav {
        padding: 0 5%;
    }
}

@media (max-width: 940px) {
    .main-header__nav ul {
        height: 0;
        overflow: hidden;
        min-width: 0;
    }

    .main-header__nav .fa-bars {
        display: inline-block;
        font-size: calc(15px + 1.78vw);
    }
}

@media (max-width: 480px) {
    .main-header {
        height: 80vh;
    }
}

@media (max-width: 350px) {
    .main-header {
        height: 60vh;
    }
}

/* Home Page Media Queries */
@media (max-width: 1485px) {
    .row-2__copy {
        padding: 8% 5%;
    }

    .row-2__list-container {
    margin: 0 auto;
    }
    
    .row-2__list-container li:nth-of-type(4) {
        margin-bottom: 0;
    }
}

@media (max-width: 1441px) {
    .row-1__copy .main-body {
        margin: 25px auto;
    }
}

@media (max-width: 1340px) {
    .row-1__copy .main-body {
        width: 100%;
    }
}

@media (max-width: 987px) {
    .row-1__copy {
        margin: 8% 0;
    }

    .row-1__copy .main-body {
    width: 70%;
    }
}

@media (max-width: 655px) {
    .row-2__list-container li,
    .row-2__list-container li:nth-of-type(4),
    .row-2__list-container li:nth-of-type(5) {
        margin-bottom: 8%;
    }
}

@media (max-width: 619px) {
    .row-1__copy .main-body {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .row-1__copy {
        margin: 15% 0;
    }

    .row-1__copy .main-body {
    width: 100%;
    }

    .row-2__copy {
    padding: 15% 5%;
    }
}

/* Restaurants Media Queries */
@media (min-width: 1681px) {
    .restaurants-section {
        padding: 5% 0;
    }
}

@media (max-width: 1680px) {
    .restaurants-section {
        padding: 13.8% 0 8%;
    }
}

@media (max-width: 1485px) {
    .restaurants-section__container {
        width: 70%;
    }
}

@media (max-width: 987px) {
    .restaurants-section {
        padding: 25% 0 8%;
    }

    .restaurants-section__container {
        width: 80%;
    }

    .restaurants-section__image-logo {
        width: 75%;
    }

    .p--restaurants {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .restaurants-section__container {
        width: 90%;
    }
}

@media (max-width: 655px) {
    .restaurants-section__container {
        width: 100%;
    }

    .restaurants-section {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 480px) {
    .restaurants-section {
    padding-top: 30%;
    padding-bottom: 20%;
    }

    .p--restaurants {
        width: 100%;
    }
}

/* Reviews Section Media Queries */
@media (min-width: 1681px) {
    .reviews-section {
        padding: 5% 0;
    }

    blockquote {
        font-size: 2rem;
        padding: 0 25%;
    }
}

@media (max-width: 1680px) {
    .reviews-section {
        padding: 9% 0 8%;
    }
    
    blockquote {
        padding: 0;
    }
}

@media (max-width: 987px) {
    .reviews-section {
        padding-left: 5%;
        padding-right: 5%;
    }

    .reviews-section__container {
        width: 70%;
    }

    blockquote {
        margin-bottom: 52px;
    }
}

@media (max-width: 667px) {
    .review-section__review:before {
        left: -62px;
    }

    .review-section__review:after {
        right: -75px;
    }

    blockquote {
        margin-bottom: 32px;
    }

    .fa-angle-left,
    .fa-angle-right {
        width: 12%;
    }
}

@media (max-width: 527px) {
    .review-section__review:before {
        left: -42px;
    }

    .review-section__review:after {
        right: -52px;
    }
}

@media (max-width: 480px) {
    .reviews-section {
        padding: 20% 0;
    }
    
    .review-section__review:after,
    .review-section__review:before {
        height: 30px;
        width: 30px;
    }

    .review-section__review:before {
        left: -25px;
    }

    .review-section__review:after {
        bottom: 95px;
        right: -42px;
    }

    .fa-angle-left,
    .fa-angle-right {
        width: 20%;
    }

    blockquote {
        font-size: 1.4rem;
    }

}

/* Blog Page Media Queries */
@media (min-width: 1681px) {
    .secondary-heading--blog-head {
        font-size: 3.1rem;
    }

    .author__profile-img {
        width: 15%;
        margin-right: 20px;
    }

    .author__profile-img img {
        width: 100%;
        height: auto;
    }

    .author__desc {
        width: calc(85% - 20px);
    }
}

@media (min-width: 1681px) and (max-width: 1848px) {
    .blog-section__comments {
        padding-bottom: 8%;
    }

    .blog-section {
        padding-top: 8%;
    }
}

@media (min-width: 2128px) and (max-width: 2520px) {
    .blog-section__comments {
        padding-bottom: 6%;
    }

    .blog-section {
        padding-top: 6%;
    }
}

@media (min-width: 2520px) and (max-width: 5600px) {
    .blog-section__comments {
        padding-bottom: 4%;
    }

    .blog-section {
        padding-top: 4%;
    }
}

// @media (min-width: 3360px) and (max-width: 5600px) {
//     .blog-section__comments {
//         padding-bottom: 4%;
//     }
// }

@media (max-width: 1554px) {
    .related__posts-container {
        flex-direction: column;
        justify-content: center;
    }

    .related__post {
        width: 100%;
        margin: 0;
    }

    .post--1 {
        margin-bottom: 40px;
        height: 100%;
    }

    .post--2 {
        margin-bottom: 40px;
    }
}

@media (max-width: 1187px) {
    .new__profile-img {
        display: none;
    }

    .new--1 {
        margin-top: 20px;
    }
}

@media (max-width: 940px) {
    .blog-section {
        width: 80%;
    }

    .blog-section__comments {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .blog-section {
        width: 90%;
        padding-top: 15%;
    }

    .post__social-share {
        margin-top: 10px;
    }

    .blog-section__comments {
        width: 90%;
        padding-bottom: 20%;
    }
}

@media (max-width: 740px) {
    .comments__name,
    .comments__email,
    .comments__website {
        width: 100%;
    }

    .comments__email {
        margin: 20px 0;
    }
}

@media (max-width: 690px) {
    .author__desc,
    .author__profile-img {
        flex: 1 1 100%;
        margin: 0;
    }
    .author__profile-img img {
        width: 100%;

    }
}

@media (max-width: 480px) {
    .blog-section {
        padding-top: 20%;
    }
}

/* Footer Media Queries */
@media (min-width: 1681px) {
    .main-footer {
        padding-top: 2%;
    }
}

@media (min-width: 1681px) {
    .secondary-heading--green {
        font-size: 2.6rem;
    }
}

@media (max-width: 1680px) {
    .main-footer {
        padding-top: 6%;
    }
}

@media (max-width: 1024px) {
    .main-footer {
        padding-top: 10%;
    }
    
    .secondary-heading--green {
        margin-bottom: 18px;
    }

    footer .third-heading {
        margin-bottom: 28px;
    }

    .main-footer__column {
        margin-right: 0;
    }

    .column--contact {
        margin-right: 5%;
    }

    .column--contact,
    .column--recent-posts {
        flex: 1 1 45%;
    }

    .column--opt-in {
        margin-top: 5%;
    }

}

@media (max-width: 768px) {
    .main-footer {
        padding-top: 15%;
    }
    
    .column--contact,
    .column--recent-posts,
    .column--opt-in {
        flex: 1 1 100%;
    }

    .column--contact {
        margin-right: 0;
    }

    .column--recent-posts {
        margin-top: 5%;
    }
}

@media (max-width: 480px) {
    .column--recent-posts,
    .column--opt-in {
        margin-top: 20%;
    }

    .container--copyright {
        justify-content: center;
    }
}